<html>
    <head>
        <title>My Website</title>
    </head>
    <body>
        <h1>My Pages 
            <% if (typeof search != "undefined") { %>
                Matching: <%= search %> | <%= (data.length) %> Results
            <% } %>
        </h1>
        <% 
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) { 
        %> 
                    <div id="dataout<%= i %>"><a href="/displaypage?_id=<%= data[i]._id %>"><%= data[i].title %></a>
                    
                    <% if (editor) { %>
                        | <a href="/newpage?_id=<%= data[i]._id %>">Edit</a> | <a href="/deletepage?_id=<%= data[i]._id %>">Delete</a>
                    <% } %>
                    </div>
        <% 
                } 
            }
        %>
        <hr />
        <div>
            Search 
            <form method="GET" action="/search">
                <input type="text" name="q">
                <input type="submit" value="Search for it">
            </form>
        </div>
        <% if (typeof search != "undefined") { %>
            <a href="/">Back</a>
        <% } %>
    </body>
</html>